* {
  font-family: 'Roboto';
}

.bg-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #e2a139, #f9d423);
}

.bg-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 90%;
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.toss-image {
  width: 50%;
}

.heading {
  color: #a35200;
  margin-bottom: 15px;
}

.description {
  font-size: 20px;
  font-weight: 600;
  color: #334155;
}

.toss-button {
  margin-top: 25px;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 8px;
  border-style: none;
  background-color: #f9d423;
  color: #a35200;
  font-weight: 500;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

.result {
  list-style-type: none;
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .bg-container {
    padding: 5%;
  }

  .bg-card {
    width: 60%;
  }

  .result-container {
    flex-direction: row;
  }

  .toss-button {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .result {
    font-size: 20px;
  }
}
